<h1>Login</h1>

<%= form_tag '/login' do %>
<table class:"table table-bordered">
  <tr>
    <th>Email:</th>
    <th><%= text_field_tag :email %><br></th>
  </tr>
  <tr>
    <th>Password:</th>
    <th><%= password_field_tag :password %><br></th>
  </tr>
</table>
<%= submit_tag "Login", class: 'btn btn-success btn-new' %>
<% end %>