<section class="dashboard">
<div class="stats">
  <section class="dashboard">
    <h1>Admin Dashboard</h1>
    <table class="stats">
      <tr>
        <th>Products:</th>
        <td><%= @product_count %></td>
      </tr>
      <tr>
        <th>Categories:</th>
        <td><%= @category_count %></td>
      </tr>
    </table>
    <a href="/admin/products" class="btn btn-success view-products">View All Products</a>
    <a href="/admin/categories" class="btn btn-success view-categories">View All Categories</a>
  </section>
</div>
