<div class="about">
  <div class="about-head">
    <h1>About Jungle</h1>
    <p class="lead">We're a family-owned house plant store that's been bringing quality greenery to the masses since 2015.</p>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h2>Our Story</h2>
      <p>It all started with a love for house plants and a desire to share that love with others. In 2015, Jungle was born. We started out as a small shop in the heart of the city, but quickly grew as more and more people discovered the joy of bringing greenery into their homes.</p>
      <p>Today, we're proud to be one of the leading house plant stores in the country. We're passionate about what we do and we're committed to bringing the best selection of house plants to our customers.</p>
    </div>
    <div class="col-md-4">
      <img src="/uploads/product/image/1/plante_1.jpg" alt="House Plant" class="img-fluid">
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-8">
      <h2>Our Mission</h2>
      <p>At Jungle, we believe that everyone should have access to beautiful, healthy house plants. That's why we're committed to offering a wide selection of plants at affordable prices. We also believe in sustainability and eco-friendliness, which is why we source our plants from local growers whenever possible.</p>
    </div>
    <div class="col-md-4">
      <img src="/uploads/product/image/2/plante_2.jpg" alt="House Plant" class="img-fluid">
    </div>
  </div>
</div>
